.nav {width: 10%; z-index: 1; position: fixed; top: 50px; left: 20px; display: flex; flex-direction: column; padding: 10px 20px;}
.nav a{width: 100%; font-size: 20px; margin: 10px; text-decoration:  none; text-transform: uppercase; font-weight: bold;border: 1px solid #fff; text-align: center;}
.nav a:not(:last-child){margin-bottom: 20px;}