* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  background: #000;
  color: #eee;
}

ol,ul{list-style: none;}

a{text-decoration:none}
.container{width: 100%; height: auto;align-items: center; justify-content: center;}
.container .movie{width: 70%; height:800px; margin: 50px auto; display: flex; flex-wrap: wrap; }


.loader{width: 100%; height: 100vh; display: flex; align-items: center;justify-content: center;}
